<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Slides</title>
  <!-- <link type="text/css" rel="stylesheet" href="/static/dir.css"> -->
  <script src="/static/dir.js"></script>
</head>
<body>
  <pre>
    <code>
      {{ . }}
    </code>
  </pre>
</body>
</html>
